root ::= {% for molecule in molecules %}molecule_{{ molecule.number }} {% endfor %}global_synthesis "</think>\n" answer
{% for molecule in molecules %}molecule_{{ molecule.number }} ::= "MOLECULE {{ molecule.number }} | RECORDS {{ molecule.record_ids }}\nANALYSIS: " molecule_paragraph
{% endfor %}global_synthesis ::= "GLOBAL SYNTHESIS\nANALYSIS: " global_paragraph
molecule_paragraph ::= [^<\r\n]{1,4096} "\n"
global_paragraph ::= [^<\r\n]{1,8192} "\n"
answer ::= [^\x00-\x08\x0B\x0C\x0E-\x1F]+
